.iconBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 50px 0;
    flex: 1;
    max-width: 400px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    gap: 12px;
}

.iconBox:hover {
    background: #f0f0f0;
    border-bottom: 3px solid #f5a623;
    cursor: pointer;
}

.iconBox img{
    height: 48px;
    width: 48px;
}

.iconBox p{
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 18px;
    line-height: 1.6em;
    color: #264653;
}